em {
	float: right;
	color: #2b3e50;
	padding-left: 10px;
}

.form {
	margin-bottom: 30px;
}

input, select {
	border: 1px solid #2b3e50;
}

input:focus, select:focus {
	border: 2px solid #2b3e50;
}


label {
	color: #2b3e50;
}


.error input {background-color:#E3C3C5;}
.error select {background-color:#E3C3C5;}
.error ::-webkit-input-placeholder { color: #999; }
.error ::-moz-placeholder { color: #999; }
.error :-moz-placeholder { color:#999; }
.error :ms-input-placeholder { color:#999; }


.btn {
	float: right;
	background-color: #ebebeb;
	font-weight: bold;
	color: #2b3e50;
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #2b3e50;
	border-radius: 2px;
}

